/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  min-width: 1200px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Navbar */

navbar {
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

navbar > img {
  float: left;
  position: relative;
  margin-top: 33px;
  margin-left: 20px;
}

navbar ul {
  display: inline-block;
  list-style: none;
  padding-left: 50px;
  margin-top: 33px;
  margin-left: 20px;
}

navbar li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 30px;
}

.btn {
  padding: 5px 10px;
  width: 220px;
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
}

#inizia.btn {
  width: 100%;
  height: 35px;
  background-color: #0061ff;
  color: #fff;
  line-height: 135%;
}

/* Header */

header {
  background-color: #b4d0e7;
  height: 800px;
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 70px;
}

h1 {
  font-size: 80px;
  text-align: left;
  margin-bottom: -50px;
}

.mini-jumbo {
  float: left;
  height: 100%;
  width: 30%;
  text-align: left;
  padding-top: 110px;
}

.jumbotron > img {
  float: right;
  position: relative;
  width: 60%;
}
