/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  min-width: 1200px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Navbar */

navbar {
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

navbar > img {
  float: left;
  position: relative;
  margin-top: 33px;
  margin-left: 20px;
}

navbar ul {
  display: inline-block;
  list-style: none;
  padding-left: 50px;
  margin-top: 33px;
  margin-left: 20px;
}

navbar li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 30px;
}

/* Buttons */

.btn {
  padding: 5px 10px;
  width: 220px;
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
}

#inizia.btn {
  width: 100%;
  height: 35px;
  background-color: #0061ff;
  color: #fff;
  line-height: 135%;
}

.btn:hover {
  background-color: #4f6cec9f;
  cursor: pointer;
}

#inizia.btn:hover {
  background-color: #4f6cec9f;
  cursor: pointer;
}

.white-button:hover {
  background-color: rgba(189, 189, 189, 0.568);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(158, 158, 158, 0.781);
  cursor: pointer;
}

/* Header */

header {
  background-color: #b4d0e7;
  height: 880px;
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 40px;
}

#title h1 {
  font-size: 80px;
  text-align: left;
  padding-top: 4%;
}

.mini-jumbo {
  float: left;
  height: 100%;
  width: 30%;
  text-align: left;
  padding-top: 8%;
}

.jumbotron > img {
  float: right;
  position: relative;
  width: 60%;
  padding-top: 8%;
}

.down-arrow {
  font-size: 70px;
  padding-top: 40px;
}
.down-arrow a:link {
  text-decoration: none;
  color: #000000;
}

.down-arrow a:visited {
  text-decoration: none;
  color: #000000;
}

.down-arrow a:active {
  text-decoration: none;
  color: #000000;
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Internal Section class tag */

.section {
  width: 80%;
  margin: 0 auto;
}

/* Section one */

.one {
  height: 2000px;
  padding-top: 220px;
}

.text-big h2 {
  font-size: 40px;
  margin-left: 0;
  overflow: auto;
}

.text-big {
  margin-left: 10%;
  width: 90%;
  height: 5%;
  overflow: auto;
}

#fake-checks {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.checked {
  width: 18px;
  height: 18px;
  border: 4px solid #0061ff;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 3px;
}

.unchecked {
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 3px;
  margin-left: 12px;
}

/* Rows - section one */

.first-row {
  width: 100%;
  height: 1200px;
  padding-left: 8%;
}

.column {
  width: 25%;
  height: 100%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.separator {
  color: rgba(128, 128, 128, 0.404);
  width: 20%;
  margin-left: 10%;
  margin-top: 6%;
}

.top-col {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid gray;
  text-align: center;
  line-height: 50px;
}

h3 {
  color: rgb(46, 46, 46);
  font-weight: 500;
}

.jumbo-col {
  width: 100%;
  height: 520px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.jumbo-col p {
  line-height: 20px;
  padding-top: 10px;
}

.grey {
  color: grey;
}

.bold {
  font-weight: bold;
}

.jumbo-col ul {
  padding-top: 20%;
  list-style: none;
}

.jumbo-col li {
  margin-top: 8%;
}

.jumbo-col .btn {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 280px;
  height: 35px;
}

.purchase {
  min-width: 100%;
  height: 10px;
}

.jumbo-list {
  width: 100%;
  height: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.jumbo-list ul {
  list-style: none;
}

.jumbo-list li {
  margin-top: 8%;
  padding-left: 20px;
}

.jumbo-list li .fa-check {
  margin-left: -19px;
}

.jumbo-list li:first-child {
  font-weight: bold;
}

.jumbo-list i {
  color: #0061ff;
}

.second-row {
  width: 100%;
  height: 270px;
  padding-left: 8%;
  padding-top: 2%;
  margin-top: 1%;
}

.long-row {
  width: 83%;
  height: 100%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.long-row .top-col {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
  text-align: center;
  line-height: 50px;
}

.long-row h4 {
  font-weight: bold;
  font-size: 28px;
}

.long-col {
  width: 100%;
  height: 100%;
  line-height: 45px;
}

.wrap-left {
  width: 76%;
  height: 100%;
  margin-top: 2%;
  padding-left: 3%;
  float: left;
}

.wrap-right {
  width: 24%;
  height: 30%;
  margin-top: 2%;
  float: right;
}

.wrap-right .btn {
  width: 260px;
  height: 40px;
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  padding: 4%;
}

/* Section two */

.two {
  height: 650px;
  padding-top: 10px;
}

.mid-row {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.partnership img {
  max-width: 100%;
  max-height: 100%;
}

.partnership {
  width: 50%;
  height: 100%;
}

.right.partnership {
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 4%;
}

.partnership h3 {
  font-weight: bold;
  font-size: 30px;
  padding-right: 5%;
}

.partnership p {
  line-height: 30px;
  padding-right: 5%;
  padding-top: 4%;
}

.white-button {
  height: 40px;
  width: 180px;
  border: 1px solid black;
  font-weight: 200;
  margin-top: 30px;
}

.white-button p {
  line-height: 120%;
  text-align: center;
}

.three {
  height: 1500px;
  padding-top: 10px;
}

/* Section three - Cards section */

.container {
  width: 80%;
}

.card {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 10%;
}

.c-debug {
  margin-right: 0;
}

.row img {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.info {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.info h3 {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 5%;
}

.txt {
  font-size: 1em;
}

.shrink {
  transition: all 0.2s ease-in-out;
}

.shrink:hover {
  transform: scale(0.9);
}

.bottom-business {
  width: 50%;
  height: 10%;
  margin-top: 6%;
}

.bottom-business h1 {
  font-size: 40px;
  margin-bottom: 5%;
}

.bottom-business span a {
  text-decoration: underline;
  color: #0061ff;
  font-weight: bold;
}

/* Section four */

.four {
  height: 550px;
  margin-top: 5%;
  width: 100%;
  background-color: #f5f5f5;
}

.big-square {
  width: 30%;
  height: 100%;
  background-color: chartreuse;
}

.square {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
}

.square > img {
  display: block;
  margin: 0 auto;
  text-align: center;
  filter: invert(1);
  max-width: 50%;
  max-height: 50%;
}

.rectangle {
  height: 100%;
  width: 40%;
  display: inline-block;
  padding: 4% 5% 5% 5%;
}

.rectangle > img {
  display: block;
  max-width: 30%;
  max-height: 30%;
}

.rectangle .separator {
  width: 10%;
  margin-left: 0;
  margin-top: 10%;
  margin-bottom: 12%;
}

.rectangle > p {
  padding-bottom: 10%;
}

.light-green {
  background-color: #a2d39b;
}

.square.light-green {
  border: 10px solid #d0e9cd;
}

.burgundy {
  background-color: #61082b;
}

.sky {
  background-color: #0093ce;
}

.light-red {
  background-color: #ff1c1c;
}

.dark-red {
  background-color: #d5001f;
}

.ocean {
  background-color: #b4d0e7;
}

.sea {
  background-color: #0d2481;
}

.yellow {
  background-color: #ffd830;
}

/* Section five */

.five {
  height: 330px;
  margin-top: 0;
  width: 100%;
  background-color: #b4d0e7;
}

.business {
  height: 100%;
  width: 50%;
}

.business.left > h1 {
  color: #61082b;
  font-size: 40px;
  padding-left: 22%;
  padding-top: 12%;
}

.button {
  width: 45%;
  height: 15%;
  background-color: #fff;
  color: black;
  text-decoration: none;
  font-weight: bold;

  margin-top: 12%;
  margin-left: 32%;
  text-align: center;
  padding-top: 14px;
}

/* Section six */

.six {
  height: 860px;
  margin-top: 0;
  width: 80%;
}

.section.six > h1 {
  font-size: 35px;
  padding-top: 10%;
}

.faq-row {
  width: 95%;
  height: 50px;
  font-weight: bold;
  border-top: 1px solid rgba(128, 128, 128, 0.404);
  margin-top: 3%;
  margin-bottom: 4%;
  padding-top: 3%;
}

.last {
  border-bottom: 1px solid rgba(128, 128, 128, 0.404);
  border-top: 1px solid rgba(128, 128, 128, 0.404);
  padding-bottom: 5%;
}

/* Footer */

.footer {
  height: 650px;
  margin: auto;
  margin-top: 0;
  width: 100%;
  background-color: #000000;
  color: white;
}

.footer-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 6%;
  padding-left: 4%;
}

.footer-list {
  width: 15%;
  height: 205px;
  margin-right: 3%;
  display: inline-block;
  vertical-align: top;
}

.footer-list ul {
  list-style: none;
  height: 100%;
}

.footer-list li:first-child {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.footer-list li {
  line-height: 30px;
}

.separator-bottom {
  color: white;
  width: 9%;
  margin-top: 8%;
  margin-bottom: 5%;
  display: block;
}

.footer span {
  color: #999999;
}
