/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.debug {
  border: 1px solid black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  min-width: 1200px;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Navbar */

navbar {
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

navbar > img {
  float: left;
  position: relative;
  margin-top: 33px;
  margin-left: 20px;
}

navbar ul {
  display: inline-block;
  list-style: none;
  padding-left: 50px;
  margin-top: 33px;
  margin-left: 20px;
}

navbar li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 30px;
}

.btn {
  padding: 5px 10px;
  width: 220px;
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
}

#inizia.btn {
  width: 100%;
  height: 35px;
  background-color: #0061ff;
  color: #fff;
  line-height: 135%;
}

/* Header */

header {
  background-color: #b4d0e7;
  height: 880px;
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 70px;
}

#title h1 {
  font-size: 80px;
  text-align: left;
  margin-bottom: -50px;
}

.mini-jumbo {
  float: left;
  height: 100%;
  width: 30%;
  text-align: left;
  padding-top: 110px;
}

.jumbotron > img {
  float: right;
  position: relative;
  width: 60%;
}

/* Section */

.section {
  width: 80%;
  margin: 0 auto;
}

.one {
  height: 2000px;
  padding-top: 250px;
}

h2 {
  font-size: 40px;
}

.text-big {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

#fake-checks {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
}

.checked {
  width: 18px;
  height: 18px;
  border: 4px solid #0061ff;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 3px;
}

.unchecked {
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 3px;
  margin-left: 12px;
}

/* Rows */

.first-row {
  width: 100%;
  height: 1200px;
  padding-left: 8%;
  padding-top: 2%;
}

.column {
  width: 25%;
  height: 100%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.separator {
  color: rgba(128, 128, 128, 0.404);
  width: 20%;
  margin-left: 10%;
}

.top-col {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid gray;
  text-align: center;
  line-height: 50px;
}

h3 {
  color: rgb(46, 46, 46);
  font-weight: 500;
}

.jumbo-col {
  width: 100%;
  height: 520px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.jumbo-col p {
  line-height: 20px;
  padding-top: 10px;
}

.grey {
  color: grey;
}

.bold {
  font-weight: bold;
}

.jumbo-col ul {
  margin-top: 20%;
  list-style: none;
}

.jumbo-col li {
  margin-top: 8%;
}

.jumbo-col .btn {
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  width: 280px;
  height: 35px;
}

.purchase {
  min-width: 100%;
  height: 10px;
}

.jumbo-list {
  width: 100%;
  height: 30%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.jumbo-list ul {
  list-style: none;
}

.jumbo-list li {
  margin-top: 8%;
}

.jumbo-list li:first-child {
  font-weight: bold;
}

.jumbo-list i {
  color: #0061ff;
}

.second-row {
  width: 100%;
  height: 270px;
  padding-left: 8%;
  padding-top: 2%;
  margin-top: 1%;
}

.long-row {
  width: 83%;
  height: 100%;
  border: 1px solid gray;
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.long-row .top-col {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
  text-align: center;
  line-height: 50px;
}

.long-row h4 {
  font-weight: bold;
  font-size: 28px;
}

.long-col {
  width: 100%;
  height: 100%;
  line-height: 45px;
}

.wrap-left {
  width: 76%;
  height: 100%;
  margin-top: 2%;
  padding-left: 3%;
  float: left;
}

.wrap-right {
  width: 24%;
  height: 30%;
  margin-top: 2%;
  float: right;
}

.wrap-right .btn {
  width: 260px;
  height: 40px;
  background-color: #0061ff;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  padding: 4%;
}

/* Section two */

.two {
  height: 1000px;
  padding-top: 10px;
  background-color: darkgreen;
}

.mid-row {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: chocolate;
}
